@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap');

body {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
  }

:root {
    --primary-color: #0066cc;
    --secondary-color: #003366;
    --accent1-color: #ffcc00;
    --accent2-color: #009933;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

.sociallinks a {
  text-decoration: none;
}

.hero {
    position: relative; 
}

h1 {
  position: absolute;
  top: 5px;
  left: 350px;
  font-size: 2em; 
  color: #fff; 
  background-color: var(--primary-color); 
  padding: 10px; 
  border-radius: 5px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

article {
  position: absolute;
  top: 110px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

article img {
  float: right;
  width: 50px;
  height: 50px;
}
