@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&display=swap');

body {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
  }

:root {
    --primary-color: #0066cc;
    --secondary-color: #003366;
    --accent1-color: #ffcc00;
    --accent2-color: #009933;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

.sociallinks a {
  text-decoration: none;
}

.hero {
    position: relative; 
}

h1 {
  position: absolute;
  top: 5px;
  left: 550px;
}

article {
  position: absolute;
  top: 90px;
  left: 550px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 35%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article img {
  float: right;
}